{% extends "example/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering new object!</h1>
      {% else %}
        <h1>Register Object Here</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ object_form.as_p }}
          <input type="submit" name="" value="Register Object">
        </form>

      {% endif %}
        <h3>List of home Objects</h3>
      <ul>
        {% for object in objects %}
           <li>
               {{ object }}{% if not forloop.last %},{% endif %}
            </li>
        {% endfor %}
        </ul>

    </div>
  </div>
{% endblock %}
