<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #2196F3;
}

</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="{% url 'index' %}" id="about">Home</a>
</div>
<div class="container">
{% block body_block %}
{% endblock %}
</div>
</body>
</html>
